.homeButton {
  position: absolute;
  font-family: "Material Icons";
  margin-top: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}
