.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 3em;
        color: white;
    }

    hr {
        width: 90%;
        border: 1px solid white;
    }

    ul {
        width: 90%;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    li>p {
        color: white;
        font-size: 2em;
    }

    .switch {
        transform: scale(2.5);
    }
}